/* Add screen styles below */
h1{
    text-align: center;
    color: rgb(240, 32, 32);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

body{
    background-color: rgb(125, 125, 244);
}

.WA{
    color: rgb(29, 220, 45);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
}
p{
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro{
    text-align: center;
}