/* Add screen styles below */
h1{
    text-align: center;
    color: rgb(139, 20, 20);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

body{
    background-color: rgb(125, 125, 244);
}

.WA{
    color: rgb(17, 138, 27);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
}
p{
    color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro{
    text-align: center;
}