/* Add screen styles below */
h1{
    background-color: #26506D;
    color: #ffffff;
    text-align: center;
    position: sticky;
}
h2{
    text-align: center;
}
.intro{
    
    text-align: center;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #E2ffff;
}

.logo{
    font-size: small;
    font-style: italic; 
    text-align: center;
}

section{
    display: flex;
}

article{
    margin: 20px;
    padding: 20px;
    background-color: #26506D;
    color: #ffffff;
}

article:nth-of-type(1){
    flex: 1;
}

article:nth-of-type(2){
    flex: 2
}

article:nth-of-type(3){
    flex: 1
}

@media screen and (max-width: 616px) {
    article:nth-of-type(2){
        flex: 1
    } 
    article{
        margin: 20px;
        padding: 20px;
        background-color: #000000;
        color: #ffffff;
    }
}